@page "/"


<div class="ui segment" style="margin: 25px; width: 50%; height: 600px">

    <BDataGrid TItem="DataItem" Configure="ConfigureDatagrid" Items="Datas" Width="97%" Height="96%">
    </BDataGrid>

</div>