################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BDataGrid/bin/Debug/netcoreapp3.1
/BDataGrid/obj
/BDataGrid.Library/bin/Debug/netstandard2.0
/BDataGrid.Library/obj
/BDataGrid.Library/bin/Debug
/BDataGrid/bin/Release/netcoreapp3.1
/BDataGrid.Library/bin/Release
