
@keyframes BDataGridBlinkError {
    50% {
        outline-color: #ff0000;
    }
}

.selectedCell {
    outline: 2px solid black;
}

    .selectedCell.BDataGridError {
        animation-name: BDataGridBlinkError;
        animation-duration: .1s;
        animation-timing-function: step-end;
        animation-iteration-count: 6;
        animation-direction: alternate;
    }

.fixedCol {
    position: relative !important;
    outline: rgba(34, 36, 38, 0.15) solid 1px;
    background-color: inherit;
    z-index: 10;
}

th.sorted.fixedCol {
    background-color: #f9fafb !important;
}

th.fixedCol:hover {
    background-color: #f9fafb !important;
}

